<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="lengend-image">
        <img src="/assets/images/required-mask.png">
        <div class="texto">Obrigatório</div>
      </div>
      <div class="lengend-image">
        <img src="/assets/images/recommended-mask.png" alt="">
        <div class="texto">Recomendado</div>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="lengend-image">
        <img src="/assets/images/required-towel.png">
        <div class="texto">Obrigatório</div>
      </div>
      <div class="lengend-image">
        <img src="/assets/images/recommended-towel.png" alt="">
        <div class="texto">Recomendado</div>
      </div>

    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="lengend-image">
        <img src="/assets/images/partial-fountain.png">
        <div class="texto">Parcial</div>
      </div>
      <div class="lengend-image">
        <img src="/assets/images/not_allowed-fountain.png" alt="">
        <div class="texto">Proibido</div>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-images">
      <div class="lengend-image">
        <img src="/assets/images/allowed-lockerroom.png">
        <div class="texto">Liberado</div>
      </div>
      <div class="lengend-image">
        <img src="/assets/images/partial-lockerroom.png" alt="">
        <div class="texto">Parcial</div>
      </div>
      <div class="lengend-image">
        <img src="/assets/images/closed-lockerroom.png" alt="">
        <div class="texto">Proibido</div>
      </div>
    </div>
  </div>

</div>
