<form class="form-group">
  <div class="form-icon"><img src="" alt="" />Horário</div>
  <h3>Qual horário você quer treinar?</h3>
  <div class="">
    <input type="radio" name="morinig" value="morinig" />
    <label for="morinig">Manhã</label>
    <span>06:00 às 12:00</span>
  </div>

  <div class="">
    <input type="radio" name="afternoon" value="afternoon" />
    <label for="afternoon">Tarde</label>
    <span>12:01 às 18:00</span>
  </div>
  <div class="">
    <input type="radio" name="night" value="night" />
    <label for="night">Noite</label>
    <span>18:01 às 23:00</span>
  </div>

  <div>
    <input type="checkbox" name="show-closed" value="" />
    <label for="show-closed">Exibir unidades fechadas</label>
  </div>
</form>
